In [1]:
import numpy as np
import pandas as pd

# Portfolio Project: London Bikesharing Dataset Dashboard

In this project, we will create a dashboard using the london bikesharing dataset from kaggle. This file will use pandas and numpy to clean the dataset to prep for visualization.

## Introduction

Bike-sharing is a popular way of traversing the city. London is one of the cities that has implemented this season. However, it hasn't been as popular as some in other cities. We will use this data to try to identify trends.

## Methods

Here are the steps we will follow to clean the data:

* Import the data
* Explore the data
* Changing column names
* Writing to excel file

## Importing Data

In [2]:
bikes = pd.read_csv("london_merged.csv")

## Exploring Data

In [3]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [6]:
bikes.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64

In [7]:
bikes.duplicated().sum()

0

In [8]:
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [10]:
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

## Changing column names

To better visualize the data, we need to change the column names by creating dictionaries to swap the names.

In [12]:
column_dict = {
    'timestamp':'Time',
    'cnt':'Count',
    't1':'TempRealFeel',
    't2':'TempFeelsLike',
    'hum':'Humidity',
    'wind_speed': 'WindSpeed',
    'weather_code':'Weather',
    'is_holiday':'Holiday',
    'is_weekend':'Weekend',
    'season':'Season'              
}

In [13]:
bikes.rename(column_dict, axis=1,inplace=True)

In [14]:
bikes

,Time,Count,TempRealFeel,TempFeelsLike,Humidity,WindSpeed,Weather,Holiday,Weekend,Season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [16]:
bikes.Humidity = bikes.Humidity / 100

In [19]:
season_dict = {
    '0.0':'Spring',
    '1.0':'Summer',
    '2.0':'Autumn',
    '3.0':'Winter'
}

In [21]:
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

In [23]:
bikes.Season = bikes.Season.astype('str')

In [24]:
bikes.Season = bikes.Season.map(season_dict)

In [26]:
bikes.Weather = bikes.Weather.astype('str')

In [27]:
bikes.Weather = bikes.Weather.map(weather_dict)

In [28]:
bikes.head()

,Time,Count,TempRealFeel,TempFeelsLike,Humidity,WindSpeed,Weather,Holiday,Weekend,Season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,Winter

In [31]:
bikes.to_excel('london_bikes_final.xlsx',sheet_name='Data')